.pytest_cache/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

artifacts/paper/
*.pdf

artifacts/db/*.db
artifacts/plots/*.html
artifacts/plots/png/
artifacts/reports/*.csv
artifacts/reports/*.json
